
<head>
<style>
    
    #orders{
        
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#orders td, #orders th {
  border: 1px solid #ddd;
  padding: 8px;
}
#orders tr:nth-child(even){background-color: #f2f2f2;}

#orders tr:hover {background-color: #ddd;}

#orders th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
} 
    </style>

</head>


<h3>Cart Info</h3>
<div style="text-align:left">
  <button routerLink="/menu" routerLinkActive="active" >Menu</button>
  </div>
<br><br>
  
<table id="orders" >
   <tr *ngFor="let item of items">
            <br>
     
            <img src="{{item.product.photo}}" width="50"><a style="float: right" (click)="remove(item.product.id)">X</a><br>
            {{item.product.name}}<br>
            {{item.product.price | currency: "RM"}}<br>
       Qty :  {{item.quantity}}<br>
       Subtotal : {{item.product.price * item.quantity | currency: "RM"}}<br>
      </tr>
    <tr>
      
        <td style="color: black; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; " >TOTAL : {{total | currency: "RM"}}</td>
    </tr>
    
</table>
<div style="text-align:center">
  <button (click)="clearCart()">ClearCart</button>
  </div>
