<div style="text-align:center">


  <nav style="text-align:center">
    <a routerLink="/asamlaksak" routerLinkActive="active">
      <img src="./assets/image/AsamLaksak.jpeg" height="auto 50%" width="40% auto"></a>
    <a routerLink="/KamHeongChicken" routerLinkActive="active">
      <img src="./assets/image/KamHeongChicken.jpeg" height="auto 50%" width="40% auto"></a>
    <a routerLink="/MarmiteChicken" routerLinkActive="active">
      <img src="./assets/image/MarmiteChicken.jpeg" height="auto 50%" width="40% auto"></a>
    <a routerLink="/SaltedEggBeef" routerLinkActive="active">
      <img src="./assets/image/SaltedEggBeef.jpeg" height="auto 50%" width="40% auto"></a>
    <a routerLink="/SzeChuanNoodles" routerLinkActive="active">
      <img src="./assets/image/SzeChuanNoodles.jpeg" height="auto 50%" width="40% auto"></a>
    <a routerLink="/Spaghetti" routerLinkActive="active">
      <img src="./assets/image/Spaghetti.jpeg" height="auto 50%" width="40% auto"></a>
  </nav>
</div>
<br />